{% extends "base.html" %}
{% block content %}
<body>

    <h1>Sobre</h1>

Este projeto possui o objetivo principal de verificar e auxiliar no gerenciamento do controle de acesso de colaboradores que atuam em funções operacionais as quais apresentam insalubridade controlada em um período específico.
Buscando atender a necessidade principal de segurança dos colaboradores e de manutenção das ações gerenciais da empresa contratante, foi pensado em um sistema que possa facilitar este processo. Considerando um cenário constituído de quatro bancadas de abatedouro de frango com utilização individual de colaborador, conforme demonstrado na Figura 1, faz-se necessário a identificação e armazenamento dos dados relativos ao período de permanência do colaborador em cada bancada.

As ferramentas utilizadas para o desenvolvimento do projeto visam baixo custo, logo esta característica define uma etapa inicial de pesquisa de viabilidade financeira e adaptabilidade para o desenvolvimento. Assim sendo, as etapas principais para o desenvolvimento deste projeto constituem levantamento de requisitos, modelagem e implementação do banco de dados, implementação da interface, implementação java e demonstração dos dados através de consultas no banco.

<h1> Análise técnica</h1>
    <h2> Descrição do ambiente técnico </h2>

O sistema é composto por um banco de dados relacional e uma interface web, com o propósito de oferecer para empresas que trabalhem com abatedouro de animais o controle e informação do acesso de funcionários a locais específicos. Assim, assegurando a empresa em questões legais. Possuirá acesso via interface web e irá armazenar em um banco de dados as informações resultantes dos requisitos estabelecidos por este documento. Para o desenvolvimento do módulo de verificação de presença será utilizado um componente detector de IR, possibilitando a detecção do funcionário.

As ferramentas utilizadas para o desenvolvimento incluem Python 3.6 que é um interpretador orientado a objetos, para programação de alto nível, PyCharm que atua como ambiente de desenvolvimento integrado (IDE), Mysql Workbench atuando como sistema gerenciador de banco de dados relacional e WampServer atuando como ambiente de desenvolvimento web do Windows.

</body>
</html>

{% endblock %}


