<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/biblioteca.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta http-equiv="refresh" content="120">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>BCD29008 - IFSC - São José</title>
    {% endif %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}

	{% block body %}{% endblock %}
    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
        <h1>Controle de funcionários</h1>
        </div>
        <div align="left">
            {% if session.logged_in %}Logado{% else %}Não logado{% endif %}
        </div>
        <nav class="nav nav-tabs">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Funcionário<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="insereFuncionario">Insere</a></li>
                  <li><a href="listarFuncionario">Listar</a></li>
                  <li><a href="removeFuncionario">Demitir</a></li>
                  <li><a href="irregularidadeFuncionario">Irregularidades</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sala<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="insereSala">Insere</a></li>
                  <li><a href="listarSala">Listar</a></li>
                  <li><a href="removeSala">Demitir</a></li>
                  <li><a href="atualizaSala">Atualizar</a></li>
                  <li><a href="historicoSala">Historico</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Bancada<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="insereBancada">Insere</a></li>
                  <li><a href="listarBancada">Listar</a></li>
                  <li><a href="removeBancada">Demitir</a></li>
                  <li><a href="atualizaBancada">Atualizar</a></li>
                  <li><a href="historicoBancada">Historico</a></li>
                </ul>
              </li>
              <li class="active"><a href="About">Sobre</a></li>
          </div>
        </nav>
        {% block content %}{% endblock %}
    </div>
</body>
</html>